<div class="row">
  <% if @products %>
    <% @products["data"].each do |product| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5><%= product["name"] %></h5>
            <%= link_to "View Product", product_path(product["id"]), class: "btn btn-primary" %>
          </div>  
        </div>
      </div>
    <% end %>  
  <% end %>
</div>